*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

/* COMMON */

.flex-container{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

/* HEADER */

.header-background{
    height: 80px;
}

.button-align{
    display: flex;
    justify-content: flex-end;
}

.button{
    background-color: #4a4a4a;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px 5px;
    border-radius: 5px;
}

/* MAIN */

main{
    color: white;
}

.main-container{
    width: 90%;
    margin: 0 auto;
}

.cols{
    height: calc(100vh - 160px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.card{
    width: 14%;
    height: 17%;
    background-image: url(https://picsum.photos/246/146);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.card-name{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 14px;
}

footer{
    height: 80px;
    background-color: #222222;
}